header,footer {
	text-align:center;
}

main {
	width:65%;
	margin-left:auto;
	margin-right:auto;
	/*Whitespace på sidorna av content är den sanna vägen*/
}

main * {
	text-align:center;
}
#mainHead {
	text-align:center;
}

#topNav {
	border-width:1px 0px;
	border-style:solid;
	border-color:#ccc;
	font-family:Verdana;
	list-style:none;
	text-align:center;
	
}

#topNav li {
	display:inline;
}

#topNav a {
	/*border:1px;
	border-color:black;
	border-style:solid;*/
	display:inline-block;
	padding:1em;
	
	/*transition:width 0.5s;
	-webkit-transition: width 0.5s; /* Safari 3.1 to 6.0 */
}

/*#topNav li:hover {
	width:100%;
}*/