body, html {
	margin:0px;
	width:100%;
	
}

main * {
	font-family:Georgia, serif
}

header, footer, #topNav {
	text-align:center;
	font-family:Verdana, sans-serif;
}

main {
	width:65%;
	margin-left:auto;
	margin-right:auto;
	/*Whitespace på sidorna av content är den sanna vägen*/
}

main * {
	text-align:center;
}


#topNav {
	border-width:1px 0px;
	border-style:solid;
	border-color:#ccc;
	list-style:none;
	
}

#topNav li {
	display:inline;
}

#topNav a {
	display:inline-block;
	padding:1em;
}

footer {
	background-color:#D7D7D7;
	display:block;
	padding:1em 0em;
	margin:0px;
	width:100%;
}

main p {
	text-align:left;
}